.hero-section {
    min-height: 100vh;
    background: url('images/home.jpg') center center/cover no-repeat;
    color: white;
}
.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-content {
    text-align: left;
}
.info-section, .features-section {
    padding: 60px 0;
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    border-bottom: none;
    transition: background-color 0.3 ease;
}
.navbar-brand img {
    height: 50px;
    width: auto;
}
.navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
    padding: 10px 20px;
}
.navbar-nav-center {
    flex: 1;
    justify-content: right;
}
#logo {
    mix-blend-mode: multiply;
}
.btn {
    background-color: #CF8F31;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-weight: 400;
}
.bg-darkBR {
    background-color: #fae2beb9;
}
.carousel-inner {
    padding: 20px 40px;
}
.newsletter-section {
    padding: 40px 40px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}
.newsletter-container {
    max-width: 600px;
    width: 100%;
}
.newsletter-title {
    color: #28a745;
    font-weight: bold;
    text-align: left;
}
.newsletter-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    background-color: #fff7f3;
    margin-right: 10px;
}
.newsletter-button {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 120px;
}
.newsletter-button:hover {
    background-color: #218838;
}
.newsletter-policy {
    font-size: 0.85rem;
    color: #6c757d;
    text-align: left;
}
.newsletter-policy a {
    color: #007bff;
    text-decoration: none;
}
.newsletter-policy a:hover {
    text-decoration: underline;
}
.form-check-input {
    margin-top: 0.2rem;
}